<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Fixed meta tag -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/w3.css">
    <title>Student Management v1.0</title>
    <style>
        .header-buttons {
            margin-top: 40px;  
            margin-right: 10px;
        }
    </style>
</head>
<body>


    <header class="w3-container w3-blue">
        <h3 class="w3-left">{{ pagetitle }}</h3>
        {% if session.get('name') %}
            <div class="w3-right header-buttons">  <!-- Adjusted margin class -->
                <a href="javascript:void(0)" class="w3-button" onclick="document.getElementById('addStudentModal').style.display='block'">+ADD</a>
				<a href="/logout" class="w3-button">LOG-OUT</a>
            </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}
        
    <hr>
    <div class="w3-center">
        &copy; copyright 2024, LOPEZ, Jane
    </div>
</body>
</html>
